// Maps
#colors() {
    backgroundColor: #303030;
    buttonColor: #ddae12;
    textColor: white;
    colorPrimary: #dbaf00;
    colorSecondary: #FFCC00;
}

#fonts() {
    mainFont: "roboto", serif;;
    websiteFont: "Rubik Mono One", serif;
}