// Maps
#colors() {
    backgroundColor: #303030;
    buttonColor: #e9c420;
    textColor: white;
    colorPrimary: #f0c400;
    colorSecondary: #e09728;
}

#fonts() {
    mainFont: "roboto", serif;;
    websiteFont: "Rubik Mono One", serif;
}